body {
  font-family: serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  background-color: #727572;
  padding: 20px 0;
}

header p {
  color: #e2d9d9;
  font-weight: bold;
}

.header-text {
  text-align: left;
  margin-left: 20px;
}

.header-image {
  margin-right: 20px;
}

#header-foto {
  width: 120px;
  height: 120px;
}

.inici {
  display: flex;
  justify-content: center;
}

h1 {
  color: #ffffff;
}

p, li {
  color: #666;
}

.info, .education, .experience, .descripcio {
  margin-top: 20px;
}

.descripcio {
  margin-right: 20px;
}

.info {
  margin-left: 20px;
}

.info, .descripcio {
  flex: 1;
  text-align: justify;
}

#linkedin-img {
  width: 30px;
  height: 30px;
}

h2 {
  color: #333;
}

h3 {
  color: #555;
  font-size: 18px;
  margin: 0;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.treball {
  color: #333;
  margin: 0;
}

.idiomas {
  display: flex;
  justify-content: space-around;
}

.programming-skills {
  margin-left: 20px;
}

@media (max-width: 768px) {
  /* Afegir estils responsius aquí */
  .container {
    max-width: 100%;
  }

  .inici {
    flex-direction: column;
  }

  .info {
    margin: 0px;
    text-align: initial;
  }

  #header-foto {
    width: 90px;
    height: 90px;
    margin-top: 20px;
  }
}
